.v-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.v-input__wrapper {
  box-sizing: border-box;
  display: inline-flex;
  border: 1px solid #ccc;
  flex: 1;
  align-items: center;
  position: relative;
  vertical-align: middle;
}
.suffix {
  display: inline-flex;
  margin-right: 5px;
}
.prefix {
  display: inline-flex;
  margin-left: 5px;
}
.inner {
  display: inline-flex;
  outline: none;
  border: none;
  background: none;
  appearance: none;
  padding: 0 10px;
  width: 100%;
  height: 30px;
}
.v-input-group__append {
  display: inline-flex;
  padding: 0 10px;
  line-height: 32px;
  vertical-align: middle;
  box-shadow: 0 0 0 1px #ccc inset, 0 1px 0 0 #ccc inset,0 -1px 0 0 #ccc inset;
  margin-left: -1px;
}
.v-input-group__prepend {
  display: inline-flex;
  padding: 0 10px;
  line-height: 32px;
  vertical-align: middle;
  box-shadow: 1px 0 0 0 #ccc inset, 0 1px 0 0 #ccc inset,0 -1px 0 0 #ccc inset;
  margin-right: -1px;
}
